<h2>Student management</h2>
<form [formGroup]="form" (ngSubmit)="createAndEmitStudent()">
  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <input type="text" formControlName="name">
      </td>
    </tr>
    <tr>
      <td>
        First name:
      </td>
      <td>
        <input type="text" formControlName="firstname">
      </td>
    </tr>
    <tr>
      <td>
        Birthdate:
      </td>
      <td>
        <input type="date" class="date" formControlName="birthdate">
      </td>
    </tr>
    <tr>
      <td>
        Mail:
      </td>
      <td>
        <input type="text" formControlName="mail">
      </td>
    </tr>
    <tr>
      Password:
      <input type="text" formControlName="password">
    </tr>

    <tr>
      Class:
      <select formControlName="idClass">
        <option *ngFor="let schoolclass of schoolClasses" [value]="schoolclass.id">
          {{schoolclass.name}}
        </option>
      </select>
    </tr>
    <input type="submit" class="btn" [disabled]="form.invalid">
  </table>
</form>
