form{
  font-family: "Montserrat", sans-serif;
}
input{
  margin: 5px;
  width: 100px;
  height: 35px;
  background:linear-gradient(45deg,#ec8c69, #ed6ea0);
  color: white;
  border: none;
}
.btn{
  border-radius: 50px;
}
.date{
  width: 125px;
}

option{
  color:black;
}
select {
  margin: 5px;
  background:linear-gradient(45deg,#ec8c69, #ed6ea0);
  color: white;
  padding: 12px;
  width: 100px;
  height: 38px;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: none;
}
select option {
  padding: 30px;
}
