<h2>Student management</h2>
<form [formGroup]="form" (ngSubmit)="createAndEmitStudent()">
  <table>
    <tr>
      <td>
        Nom:
      </td>
      <td>
        <input type="text" formControlName="name">
      </td>
    </tr>
    <tr>
      <td>
        Prenom:
      </td>
      <td>
        <input type="text" formControlName="firstname">
      </td>
    </tr>
    <tr>
      <td>
        Datenaiss:
      </td>
      <td>
        <input type="date" class="date" formControlName="birthdate">
      </td>
    </tr>
    <tr>
      <td>
        Mail:
      </td>
      <td>
        <input type="text" formControlName="mail">
      </td>
    </tr>
    <tr>
      <td>
        mot de passe:
      </td>
      <td>
        <input type="text" formControlName="password">
      </td>
    </tr>

    <tr>
      <td>
        idClass:
      </td>
      <td>
        <select formControlName="idClass">
          <option *ngFor="let schoolclass of schoolClasses" [value]="schoolclass.id">
            {{schoolclass.name}}
          </option>
        </select>
      </td>
    </tr>
    <input type="submit" class="btn" [disabled]="form.invalid">
  </table>
</form>
