<div>

  <form [formGroup]="form" (submit)="createAndEmitInterro();succeedMessage=true">
    <table>
      <tr>
        <td>
          <b>Course : </b>
        </td>
        <td>
          <select formControlName="idLesson">
            <option *ngFor="let lesson of lessons" [value]="lesson.idLesson">
              {{lesson.subject}}
            </option>
          </select>
        </td>


      </tr>

    </table>
    <table>
      <tr formArrayName="info" *ngFor="let cd of infoControls ;let i=index;">
        <td formGroupName={{i}}>

          <input [maxlength]="50" type="text" class="text" formControlName="subject" placeholder="subject" />
          <input  (keypress)="numberOnly($event)" class="text" type="text" formControlName="total" placeholder="total (max: 100)" />
        </td><button (click)="deleteInfo(i);succeedMessage=false">delete</button>
      </tr>
      <tr>
        <td>
          <button type="button" (click)="addInfo();succeedMessage=false">Add new interro</button>
          <input type="submit" value="Submit" [disabled]="form.invalid"/>
        </td>
      </tr>
    </table>
  </form>
  <div *ngIf="succeedMessage">
    {{message}}
  </div>
</div>
