h2{
  text-align: center;
  float: right;
  margin-right: 47%;
}
div{
  font-family: "Montserrat", sans-serif;
}
form{
  float:left;
  margin-top: 3%;
}

input,button{
  width: 100px;
  height: 45px;
  border-radius: 30px;
  background:linear-gradient(45deg,#ec8c69, #ed6ea0);
  color: white;
  border: none;
  margin: 5px;
}

.text{
  border-radius: 0px;
  border: solid 1px black;
  background :white;
  color: black;

}


option{
  color:black;
}
select {
  margin: 15px;
  background:linear-gradient(45deg,#ec8c69, #ed6ea0);
  color: white;
  padding: 12px;
  width: 100px;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: none;
}
select option {
  padding: 30px;
}

#lessonid{
  margin-left: 15px;
}
