<div>
  <form [formGroup]="form" (submit)="createAndEmitMeeting()">
    <br/>
    <table>
      <tr formArrayName="meetings" *ngFor="let cd of meetingsControls ;let i=index;">
        <td formGroupName={{i}}>

          <b>Subject</b>
          <input  type="text" class="text" formControlName="subject" placeholder="subject" />
          <b>Start time</b>
          <input  type="datetime-local" formControlName="startTime" min="{{currentDate}}"/>
          <b>End time</b>
          <input  type="datetime-local" formControlName="endTime" min="{{currentDate}}"/>
        </td>
        <button class="btn" (click)="deleteMeeting(i)">delete</button>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn" (click)="addMeetings()">Add new meeting</button>
        </td>
        <td>
          <input class="btn" type="submit" value="Validate" />
        </td>
      </tr>
    </table>
  </form>
</div>
