<form [formGroup]="form" (ngSubmit)="createAndEmitSchoolclass()">
  <label>
    <b>Name :</b>
    <input type="text" formControlName="name" placeholder="name">
  </label>
  <label>
    <b>Year :</b>
    <input (keypress)="numberOnly($event)" type="number" formControlName="year" placeholder="(max: 7)">
  </label>
  <label>
    <b>Ammount of student :</b>
    <input (keypress)="numberOnly($event)" type="number" formControlName="nbStudents" placeholder="(max: 30)">
  </label>
  <input type="submit" class="btn" [disabled]="form.invalid" value="Validate">
</form>
