<h2>School Class</h2>
<form [formGroup]="form" (ngSubmit)="createAndEmitSchoolclass()">
  <table>
    <tr>
      <td>
        Name :
      </td>
      <td>
        <input type="text" formControlName="name" placeholder="name">
      </td>
    </tr>
    <tr>
      <td>
        Year :
      </td>
      <td>
        <input (keypress)="numberOnly($event)" type="number" formControlName="year" placeholder="(max: 7)">
      </td>
    </tr>
    <tr>
      <td>
        Amount of student :
      </td>
      <td>
        <input (keypress)="numberOnly($event)" type="number" formControlName="nbStudents" placeholder="(max: 30)">
      </td>
    </tr>
    <input type="submit" [disabled]="form.invalid">
  </table>

</form>
