h2{
  text-align: center;
  float: right;
  margin-right: 50%;
}
form{
  margin-top: 3%;
  float:left;
  font-family: "Montserrat", sans-serif;
}
input{
  margin: 5px;
  width: 100px;
  height: 35px;
  background:linear-gradient(45deg,#ec8c69, #ed6ea0);
  color: white;
  border: none;
}
::placeholder{
  color: white;
}
.btn{
  border-radius: 50px;
}
