h2{
  text-align: center;
  float: right;
  margin-right: 44%;
  font-family: "Montserrat", sans-serif;
}
form{
  margin-top: 3%;
  margin-left: 5px;
  float: left;
  font-family: "Montserrat", sans-serif;
}
input{
  margin: 5px;
  width: 100px;
  height: 35px;
  background:linear-gradient(45deg,#ec8c69, #ed6ea0);
  color: black;
  border: none;
}
.btn{
  border-radius: 50px;
}
.date{
width: 125px;
}
