<form [formGroup]="form" (ngSubmit)="createAndEmitTeacher()">
  <label>
    <b>Name:</b>
    <input type="text" formControlName="name">
  </label>
  <label>
    <b>First name:</b>
    <input type="text" formControlName="firstname">
  </label>
  <label>
    <b>Birthdate:</b>
    <input type="date" class="date" formControlName="birthdate">
  </label>
  <label>
    <b>Mail:</b>
    <input type="text" formControlName="mail">
  </label>
  <label>
    <b>Password:</b>
    <input type="password" formControlName="password">
  </label>
  <input type="submit" class="btn" [disabled]="form.invalid" value="Validate">
</form>
