<mat-toolbar color="primary" class="mat-elevation-z8">
  <span routerLink="/teacherhome">Teacher</span>
  <div class="spacer"></div>

  <a routerLink="/addnote" mat-button>Notes</a>
  <a routerLink="/meeting" mat-button>Meeting</a>
  <a routerLink="/addcourse" mat-button>Course</a>
  <a routerLink="/lesson" mat-button>Lesson</a>
  <a routerLink="/addinterro" mat-button>Interrogation</a>
  <a routerLink="/scheduler" mat-button>Schedule</a>
  <a routerLink="/login" mat-raised-button color="accent" (click)="logout()">Logout</a>

</mat-toolbar>
