<app-navbar-student [pageTitle]="pageTitle"></app-navbar-student>
<div class="main">
<form [formGroup]="form" (submit)="getResult();average()">
  <div class="box" >
    <select formControlName="idLesson">
      <option *ngFor="let lesson of lessons" [value]="lesson.idLesson">
        {{lesson.subject}}
      </option>
    </select>
    <input type="submit" class="inline" value="Search result" [disabled]="form.invalid" />
  </div>
</form>
  <button (click)="average()"  class="inline">Average</button><br/><br/>

<table *ngIf="results.length!=0">
  <tr>
    <th>interro</th>
    <th>result</th>
    <th>total</th>
    <th>Message</th>
  </tr>
  <tr *ngFor="let result of results;let i=index">
    <td>{{interros[i].subject}}</td>
    <td>{{result.result}}</td>
    <td>{{result.total}}</td>
    <td>{{result.message}}</td>
  </tr>
</table>
<label *ngIf="results.length==0">This student doesn't have notes</label><br/>
<label *ngIf="sum >= 0">Average : {{sum.toFixed(2)+" %"}}</label>
</div>

