<app-navbar-student></app-navbar-student>
<div class="main">
<form [formGroup]="form" (submit)="getResult();moy()">
  <div class="box" >
    <select formControlName="idLesson">
      <option *ngFor="let lesson of lessons" [value]="lesson.idLesson">
        {{lesson.subject}}
      </option>
    </select>
    <input type="submit" class="inline" value="Search result" />
  </div>
</form>
  <button (click)="moy()" class="inline">Moyenne</button>

<table>
  <tr>
    <th>interro</th>
    <th>result</th>
    <th>total</th>
    <th>message</th>
  </tr>
  <tr *ngFor="let result of results;let i=index">
    <td>{{interros[i].subject}}</td>
    <td>{{result.result}}</td>
    <td>{{result.total}}</td>
    <td>{{result.message}}</td>
  </tr>
</table>
{{alertNotes}}
<label *ngIf="sum >= 0">Moyenne : {{sum.toFixed(2)}}</label>
</div>

