<div *ngIf="meetings.length">
  <table>
    <thead>
    <tr>
      <th>subject</th>
      <th>participant</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let meeting of meetings;let i=index">
      <td>{{meeting.subject}}</td>
      <td style="width:30%">

          <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="teachers" [(ngModel)]="teacherPart"></ng-multiselect-dropdown>
      </td>
      <td class="btn_add">
        <button (click)="createAndEmitParticipation(meeting)">Add participants</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
