
input,button{
  width: 100px;
  height: 45px;
  border-radius: 30px;
  background:linear-gradient(45deg,#ec8c69, #ed6ea0);
  color: white;
  border: none;

}
table{
  float:right;
  margin-right: 15px;
}
table,td,th {

  font-family: 'Montserrat',sans-serif;
  border: 1px solid #000000;
}

tr:hover {
  background: #f4f4f4;
}
td:hover {
  color: #555;
}
th, td {
  color: #484848;
  border: 1px solid #282828;
  padding: 12px 15px;
  border-collapse: collapse;
}
th {
  background: linear-gradient(45deg, #545454, #000000);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
th.last {
  border-right: none;
}
