<div *ngIf="students.length===0">
  <b>Il n'y a actuellement pas de professeurs</b>
</div>
<div *ngIf="students.length">
  <table>
    <thead>
    <tr>
      <th>First name</th>
      <th>name</th>
      <th>mail</th>
      <th>idClass</th>
      <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students;let i=index">
      <td>{{student.firstName}}</td>
      <td>{{student.name}}</td>
      <td>{{student.mail}}</td>
      <td>{{student.idClass}}</td>
      <td>
        <button (click)="emitDeleteStudent(student,i);">X</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
