<div>
  <form [formGroup]="form" (submit)="createAndEmitInterro();succeedMessage=true">
    <table>
      <tr>
        <td>
          <b>Class</b>
        </td>
        <td>
          <select formControlName="idClass">
            <option *ngFor="let schoolClass of schoolClasses" [value]="schoolClass.id">
              {{schoolClass.name}}
            </option>
          </select>
        </td>
      </tr>

    </table>
    <table>
      <tr formArrayName="info" *ngFor="let cd of infoControls ;let i=index;">
        <td formGroupName={{i}}>
          <select formControlName="idLesson">
            <option *ngFor="let lesson of lessons" [value]="lesson.idLesson">
              {{lesson.subject}}
            </option>
          </select>

          <input  type="datetime-local" class="date" formControlName="startTime" placeholder="starTime" />
          <input  type="datetime-local" class="date" formControlName="endTime" placeholder="endTime" />
          <button (click)="deleteInfo(i)">delete</button>
        </td>
      </tr>
      <tr>
        <td>
        <button type="button" (click)="addInfo()" class="btn" >Add new course</button>
        <input type="submit"  value="Click Me" [disabled]="form.invalid"/>

        </td>
      </tr>
    </table>
  </form>

</div>
<div *ngIf="succeedMessage">
  {{message}}
</div>
