<div>
  <form [formGroup]="form" (submit)="createAndEmitInterro()">
    <table>
      <tr>
        <td>
          <b>Class</b>
        </td>
        <td>
          <select formControlName="idClass">
            <option *ngFor="let schoolClass of schoolClasses" [value]="schoolClass.id">
              {{schoolClass.name}}
            </option>
          </select>
        </td>
      </tr>

    </table>
    <br/>
    <table>
      <tr formArrayName="lessons" *ngFor="let cd of infoControls ;let i=index;">
        <td formGroupName={{i}}>

          <input  type="datetime-local" formControlName="startTime" placeholder="starTime" />
          <input  type="datetime-local" formControlName="endTime" placeholder="endTime" />
          <input  type="text" formControlName="subject" placeholder="subject" />
        </td><button (click)="deleteInfo(i)">delete</button>
      </tr>
      <tr>
        <td>
          <input type="submit" value="Click Me" />
        </td>
      </tr>
    </table>
  </form>
  <button (click)="addInfo()">Add new course</button>
</div>
