h2{
  text-align: center;
  float: right;
  margin-right: 50%;
}
form{
  margin-top: 3%;
  float:left
}
.btn{
transform: translate(0px,-6px);
}
div{
  font-family: "Montserrat", sans-serif;
}
input,button{
  width: 100px;
  height: 45px;
  border-radius: 30px;
  margin-left: 5px;
  background:linear-gradient(45deg,#ec8c69, #ed6ea0);
  color: white;
  border: none;
}
.date{
  border: 1px solid black;
  background:white;
  color: black;
  width: 170px;
}
select {
  margin: 15px;
  background:linear-gradient(45deg,#ec8c69, #ed6ea0);
  color: white;
  padding: 12px;
  width: 80px;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: none;
}
option{
  color: black;
}
