<div *ngIf="schoolclasses.length===0">
  <b>Il n'y a pas encore de classe</b>
</div>
<div *ngIf="schoolclasses.length">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Year</th>
      <th>Amount of student</th>
      <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let schoolclass of schoolclasses;let i=index">
      <td>{{schoolclass.id}}</td>
      <td>{{schoolclass.name}}</td>
      <td>{{schoolclass.year}}</td>
      <td>{{schoolclass.nbStudents}}</td>
      <td>
        <button (click)="emitDeleteSchoolclass(schoolclass,i);">X</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

