table {
  float :right;
  margin-right: 15px;
  font-family: 'Montserrat',sans-serif;
  border: 1px solid #eee;
}
tr:hover {
  background: #f4f4f4;
}
td:hover {
  color: #555;
}
th, td {
  color: #484848;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  text-align: center;
}
th {
  background: linear-gradient(45deg, #0a0a0a, #565656);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;

}
th.last {
  border-right: none;
}
