h2{
  text-align: center;
  color:black;
  margin-top: 0px;
  padding-top: 35px;
  font-family: 'Montserrat', sans-serif;

}
section{
  text-align: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.log{
  border : 3px #ed6ea0 solid;
  border-radius: 50px;
  width: 20%;
  height: 10%;
  box-shadow:10px 7px 10px #ec8c69;
}
#left{
  float:left;
  margin-left: 10%;
}
#center{
  display:inline-block;
  margin:0 auto;
}
#right{
  float:right;
  margin-right: 10%;
}

  .bn632-hover {
    width: 80%;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

@media screen  and (min-width: 1280px){
  .log{
    border : 3px #ed6ea0 solid;
    border-radius: 50px;
    width: 17%;
    height: 250px;
    box-shadow:10px 7px 10px #ec8c69;
  }

  .bn632-hover {
    width: 80%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    margin-top: 70px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn27 {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}


*{box-sizing: border-box }

img{

  height: 400px;
  width: 1600px;

}


.slideshow{

  border: 2px solid #1e1e1e;
  box-shadow: 0 0 5px hsla(0,0%,0%,.5);
  overflow: hidden;
  max-width: available;
  max-height: 250px;
  position: relative;
  margin: 2rem auto;
  margin-top: 50px;
}

.slideshow ul{

  padding-bottom: 66.67%;/* ratio pour le responsive */
  margin: 0;
  list-style-type: none;
  position: relative

}

.slideshow li{

  top: 0;
  left: 0;
  animation: slideshow 25s ease infinite;
  position: absolute;
  opacity: 0;

}

.slideshow li:nth-child(2){

  animation-delay: 5s

}

.slideshow li:nth-child(3){

  animation-delay: 10s

}

.slideshow li:nth-child(4){

  animation-delay: 15s

}

.slideshow li:nth-child(5){

  animation-delay: 20s

}


@keyframes slideshow{

  0%{opacity: 0}

  10%{opacity: 1}

  20%{opacity: 1}

  25%{opacity: 0}

  100%{opacity: 0}

}


.slideshow span{

  background: rgba(0,0,0,0.7);
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0

}

