<header>

</header>
<main>

    <h2>Nom_app</h2>
    <div class="slideshow">
      <ul>
        <li><img src="../../assets/galery1.jpg"/></li>
        <li><img src="../../assets/galery2.png" alt></li>
        <li><img src="../../assets/galery3.jpg" alt></li>
        <li><img src="../../assets/galery4.jpg" alt></li>
        <li><img src="../../assets/galery5.jpg" alt></li>
      </ul>
    </div>

    <section>
      <div class="log" id="left">
        <h3>Student</h3>
        <button class="bn632-hover bn27" routerLink="/loginStudent">Student</button>
      </div>
      <div class="log" id="center">
        <h3>Teacher</h3>
        <button class="bn632-hover bn27" routerLink="/loginTeacher">Teacher</button>
      </div>
      <div class="log" id="right">
        <h3>Admin</h3>
        <button class="bn632-hover bn27" routerLink="/loginAdmin">Admin</button>
      </div>
    </section>

</main>
<footer>

</footer>
